<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896589233469-56ti5c6r3obnqqes6op9gsl1l8uv3196.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896589233469-56ti5c6r3obnqqes6op9gsl1l8uv3196</string>
	<key>API_KEY</key>
	<string>AIzaSyD6ROZ00saRUrjr4xnsAD0vN1StJl04W0c</string>
	<key>GCM_SENDER_ID</key>
	<string>896589233469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.task1</string>
	<key>PROJECT_ID</key>
	<string>task1-735a3</string>
	<key>STORAGE_BUCKET</key>
	<string>task1-735a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896589233469:ios:c38d1c12772e1a1517d954</string>
</dict>
</plist>